*.log
*.synctex.gz
*.aux
*.toc
*.out
*.bbl
*.fdb_latexmk
*.blg
*.rej
*.tdo
*.fls
*.nav
/main.pdf

# >>> calkit latex aux files (managed by calkit) >>>
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
# <<< calkit latex aux files <<<
